onnxruntime-gpu==1.17.1
sherpa-onnx==1.10.46
fastapi==0.120.3
uvicorn[standard]
gunicorn
python-multipart
huggingface-hub==1.0.1
scipy==1.11.4
underthesea==8.3.0
pydantic-settings==2.11.0
soundfile==0.13.1
tzdata==2025.2