--find-links https://k2-fsa.github.io/sherpa/onnx/cuda.html
onnxruntime-gpu==1.23.2
sherpa-onnx==1.12.13+cuda12.cudnn9
fastapi==0.120.3
uvicorn[standard]
gunicorn
python-multipart
huggingface-hub==1.0.1
scipy==1.11.4
underthesea==8.3.0